* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #ffffff;
}
.container {
  position: fixed;
  /* height: 100%; */
  height: 700px;
  width: 1400px;
  /* width: 100%; */
  background: #ffffff;
  overflow: hidden;
}
/* header part starts here  */
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
/* header left parts starts here  */
header ul {
  display: flex;
  list-style: none;
}
#a {
  border: none;
}

li {
  font-size: 15px;
  font-weight: 700;
  padding-left: 20px;
}
li a {
  color: #000000;
}
.nav-element {
  display: flex;
  align-items: center;
}

.logo img {
  padding-left: 80px;
  height: 50px;
  padding-right: 20px;
}
select {
  font-size: 15px;
  font-weight: 700;
}
/* header left parts ends here  */
/* header right part starts here  */
.nav-right {
  display: flex;
  align-items: center;
  padding-right: 90px;
}
.hdr-signin {
  padding-right: 20px;
  font-weight: 700;
  color: #0808ec;
}
.hdr-get {
  border: 1px solid #5167f6;
  background: #5167f6;
  border-radius: 30px;
  height: 40px;
  width: 110px;
}
.hdr-get p {
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-weight: 800;
}
/* header part ends here  */
/* content section starts here  */
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* left content starts here  */
.content-left {
  padding-left: 70px;
  margin-top: 30px;
}
.lft-cntnt-fst {
  font-size: 11px;
  font-weight: bolder;
  color: #0808ec;
}
.lft-cntnt-snd {
  font-size: 50px;
  font-weight: 900;
  margin-top: 15px;
}
.lft-cntnt-snd span {
  color: #0808ec;
  text-decoration: underline;
  text-underline-offset: 10px;
}
.lft-cntnt-trd {
  font-size: 15px;
  margin-top: 20px;
  color: gray;
}
/* left side fourth part start here */
.lft-cntnt-frth {
  display: flex;
  margin-top: 30px;
}

.email {
  width: 150px;
  height: 45px;
  border-radius: 30px;
  margin-right: 50px;
  background: #5555e4;
}
.email a {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
}

.player {
  display: flex;
  width: 220px;
  height: 50px;
}
.plr-icn img {
  width: 40px;
  height: 30px;
  margin-top: 10px;
  padding-left: 10px;
}
.plr-txt {
  margin-top: 15px;
  font-weight: 600;
  color: #6a6ada;
}
.frth-text {
  font-size: 10px;
  color: gray;
  margin-top: 20px;
  padding-left: 20px;
}
/* left side fourth parts ends here  */
/* left content fifth part starts here  */
.lft-cntnt-fifth {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 40px;
  margin-top: 170px;
}
.fifth-i {
  font-size: 14px;
  margin-top: 10px;
  color: #9b9bdf;
}
.fifth-i span {
  color: #0808ec;
  font-weight: 700;
}
.fifth-ii {
  display: flex;
}
.one img {
  height: 30px;
  padding-left: 15px;
  margin-top: 5px;
}
/* left content fifth part ends here  */

/* left content ends here  */
/* right content starts here  */
/* right bg starts here  */
.mac {
  position: absolute;

  left: 900px;
}
.mac img {
  width: 500px;
  height: 100px;
}
.content-right-bg {
  position: absolute;
  background: #f1f1f3;
  width: 500px;
  height: 100%;
  left: 900px;
  top: 150px;
}
/* right bg ends here  */
/* right side  box design starts here  */
.right-fst-box {
  position: absolute;
  top: 180px;
  left: 840px;
  height: 72%;
  width: 21%;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: -5px 6px 4px 1px rgba(232, 225, 225, 0.65);
  -webkit-box-shadow: -5px 6px 4px 1px rgba(232, 225, 225, 0.65);
  -moz-box-shadow: -5px 6px 4px 1px rgba(232, 225, 225, 0.65);
}
.right-snd-box {
  position: absolute;
  top: 180px;
  left: 1150px;
  width: 220px;
  height: 270px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: -5px 6px 4px 1px rgba(232, 225, 225, 0.65);
  -webkit-box-shadow: -5px 6px 4px 1px rgba(232, 225, 225, 0.65);
  -moz-box-shadow: -5px 6px 4px 1px rgba(232, 225, 225, 0.65);
}
.right-trd-box {
  position: absolute;
  top: 460px;
  left: 1150px;
  width: 220px;
  height: 220px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: -5px 6px 4px 1px rgba(232, 225, 225, 0.65);
  -webkit-box-shadow: -5px 6px 4px 1px rgba(232, 225, 225, 0.65);
  -moz-box-shadow: -5px 6px 4px 1px rgba(232, 225, 225, 0.65);
}
/* right side  box design ends here  */
/* first b0x starts here   */
.fst-box-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(209, 198, 198);
  height: 20px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(116, 108, 108);
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
}
.fst-box-top img {
  width: 20px;
  height: 19px;
  margin-bottom: 20px;
}
/* first box 2nd top starts here  */
.fst-box-snd {
  display: flex;
  justify-content: space-around;
  height: 60px;
  margin-top: 10px;
}
.one {
  font-size: 15px;
  font-weight: 900;
  margin-top: 10px;
}
.two {
  font-size: 10px;
  color: gray;
  padding-left: 10px;
  margin-top: 5px;
}
.fst-box img {
  margin-top: 10px;
}
/* first box 2nd top ends here  */
/* pie chart box starts here  */
.pie-box {
  padding-left: 25px;
}
.pie-chart {
  background: radial-gradient(
      circle closest-side,
      white 0,
      white 85%,
      transparent 85%,
      transparent 100%,
      white 0
    ),
    conic-gradient(
      from 215deg,
      #4e79a7 0,
      #4e79a7 36.6%,
      #f1f505 0,
      #f1f505 75.6%,
      #2ae562 0,
      #2ae562 100%
    );
  position: relative;
  width: 250px;
  min-height: 230px;
  margin: 0;
}
/* pie middle part start here  */
.pie-mdl {
  position: absolute;
  top: 160px;
  left: 80px;
}
.pie-mdl-i {
  font-size: 35px;
  font-weight: 900;
  padding-left: 20px;
}
.pie-mdl-ii {
  font-size: 20px;
}
.pie-mdl-ii span {
  color: #2ae562;
}
/* pie middle part start here  */
/* pie chart box ends here  */
/* pie bottom  */
.btm-pie {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}
.btm-pie-left-i {
  color: gray;
}
.btm-pie-left-ii {
  font-weight: 800;
}
.btm-pie-right img {
  margin-top: 15px;
}
/* pie bottom  */
/* progress bar start here  */
.progress-bar-container {
  padding-left: 20px;
  padding-right: 20px;
}
.prgsbr-i {
  width: 100%;
  background: gray;
  border-radius: 10px;
}
.bari {
  height: 15px;
}
.prgs {
  width: 50%;
  background: #401a99;
  border-radius: 10px;
}
.prgs2 {
  width: 30%;
  background: #e2df10;
  border-radius: 10px;
}
.prgs3 {
  width: 20%;
  background: #43d362;
  border-radius: 10px;
}
.bari p {
  padding-left: 250px;
}
.prgs-hdln-mn {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

/* progress bar ends here  */
/* first box ends here  */
/* secound box starts here  */
.snd-box-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(209, 198, 198);
  height: 20px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(116, 108, 108);
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
}
.snd-box-top img {
  width: 20px;
  height: 19px;
  margin-bottom: 20px;
}
/* upper ends  */
.snd-box-icn img {
  height: 60px;
  padding-left: 40%;
  margin-top: 20px;
}

.name-child {
  height: 20px;
  width: 50px;
  margin-left: 95px;
  font-size: 13px;
  background: gray;
  border-radius: 10px;
  padding-left: 10px;
}

.name-child1 {
  height: 20px;
  width: 100px;
  margin-left: 85px;
  font-size: 13px;
  margin-top: 5px;
  color: gray;
  border-radius: 10px;
  padding-left: 10px;
}
/* middle child 2  */
.name-child2 {
  height: 40px;
  width: 100px;
  margin-left: 85px;
  font-size: 20px;
  font-weight: 800;
  border-radius: 10px;
}
/* middle child 2  */
/* snd box bottom part starts here  */
.snd-box-bottom {
  height: 60px;
  display: flex;
  justify-content: space-around;
}
.snd-box-icn1 img {
  height: 60px;
}
/* vector rounded icon starts here  */
.vtr {
  position: absolute;
  top: 120px;
  left: 30px;
}
.vtr img {
  height: 30px;
}
.vtr2 {
  position: absolute;
  top: 50px;
  left: 160px;
}
.vtr2 img {
  height: 40px;
}
.vtr3 {
  position: absolute;
  top: 125px;
  left: 165px;
}
.vtr3 img {
  height: 20px;
}

/* vector rounded icon ends here  */
/* snd box bottom part ends here  */
/* secound box ends here  */
/* third box starts here  */
.trd-box-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(209, 198, 198);
  height: 20px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(116, 108, 108);
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
}
.trd-box-top img {
  width: 20px;
  height: 19px;
  margin-bottom: 20px;
}
/* secound  */
.trd-box-snd {
  font-size: 15px;
  font-weight: 600;
  color: gray;

  padding-left: 10px;
  margin-top: 10px;
}
.trd-box-trd {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
/* secound left start */
.trd-box-trd-lft {
  display: flex;
}
.lft-i {
  padding-left: 10px;
}
.lft-main {
  padding-left: 10px;
}
.lft-ii {
  font-weight: 800;
}
.lft-iii {
  font-size: 13px;
  color: gray;
}
/* secound left end  */
.trd-box-trd-right {
  padding-right: 10px;
}
.trd-right-i {
  font-size: 15px;
  font-weight: 800;
  color: rgb(32, 207, 32);
}
.trd-right-ii {
  font-size: 12px;
  color: gray;
}
.trd-right-i-ii {
  font-weight: 800;
}
/* third box ends here  */
/* right content ends here  */
